body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    border: none;
    background-color:black;
    width: 600px;
    height: 2px;
    margin: 0px;
}

h1 {
    margin-bottom: 0px;
    margin-top: 30px;
}

.logoIMG {
    width: 75px;
    height: 60px;
    margin-bottom: 2px;
}

.main{
    margin-top: 10px;
    width: 260px;
    height: 326px;
}

.test{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 260px;
    height: 326px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}

#croq button{
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: white;
    border:1px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
    margin-top: 5px;
}

#nav button {
    background-color: white;
    border: 1.5px solid black;
    border-radius: 7px;
}

#croq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hide {
    display: none !important;
}

.Show{
    display: inline;
}

.divShow{
    display: block;
}

.Selected{
    background-color: black;
}

#portfolio{
    width: 730px;
}

.testy{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    width: 234px;
    height: 293.5px;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 8px;
}

.Ssection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 8px;
    width: 550px;
}

#final{
    width: 500px;
}

#fourth{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    width: 400px;
    height: 293.5px;
}

#truck{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    width: 320px;
    height: 280px;
}

#flats{
    padding-left: 20px;
}

@media (max-width: 1170px) {
    body {
        display: flex;
        justify-content: center;
    }
    
    hr {
        border: none;
        background-color:black;
        height: .5px;
        margin: 0px;
        width: 450px;
    }
    
    h1 {
        margin-bottom: 0px;
        margin-top: 3px;
        font-size: 16px;
    }
    
    .logoIMG {
        width: 50px;
        height: 43px;
        margin-bottom: 2px;
    }

    .main{
        margin-top: 6px;
        width: 300px;
        height: 360px;
    }
    
    
    #header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 450px;
        justify-content: space-between;
    }
}